* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  /* 3像素 */
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
ul {
  list-style: none;
}
input {
  outline: none;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
/* 清除浮动 */
.clearfix:after {
  display: block;
  content: "";
  height: 0;
  clear: both;
}
