@import "wjsfont.less";

@fontColor: #808080;
.wjs_view {
  a {
    color: inherit;
  }
}

/*头部导航*/
.wjs_top_nav {

  a {
    text-decoration: none;
  }

  .row {

    > div {
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      color: @fontColor;
    }

    .wjs_phone {
      position: relative;
      > img {
        position: absolute;
        bottom: -151px;
        left: -8px;
        display: none;
      }
      &:hover > img {
        display: block;
      }
    }

    //免费注册
    .btn {
      color: #fff;
    }

    > div:last-child {
      border-right: none;
    }
  }
}

/*导航条*/
.wjs_nav {
  .navbar {
    margin-bottom: 0px;
    > .container {
      a {
        height: 80px;
        line-height: 80px;
        padding-top: 0px;
        padding-bottom: 0px;
        &:hover, &:focus {
          border-bottom: 1px solid red;
        }
      }

      .navbar-brand {

        &:hover, &:focus {
          border-bottom: none;
        }
        padding-top: 5px;

        .wjsfont {
          font-size: 70px;
        }
        > .wjsfont-logo {
          color: red;
        }
      }

    }

  }
}

/*轮播图*/
.wjs_carousel {
  img {
    width: 100%;
  }
}

/*支付交易保障*/
.wjs_exchange {
  .container {
    .row {
      padding-bottom: 40px;
      padding-top: 60px;
      color: #878787;

      > div {
        margin-bottom: 20px;
        a {
          &:hover {
            color: red;
          }
          .media {
            > .media-left {
              font-size: 40px;
            }
            > .media-body {
              h4 {
                font-size: 22px;
              }
            }
          }

        }
      }
    }
  }
}
