/*css初始化*/
body,ul,li,h1,h2,h3,h4,h5,h6,p,input,dl,dt,dd,ol,form,button {
	margin: 0;
	padding: 0;
	font: microsoft yahei;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
i,em {
	font-style: normal;
}
img {
	border: 0 none;
	vertical-align: top;
}
ul,li {
	list-style: none;
}
a {
	text-decoration: none;
}
input,button {
	border: 0 none;
	outline-style: none;
}
.m {
	margin: 0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

/*字体图标的调用*/
@font-face {
  font-family: 'iconfont';
  src: url('iconfont/iconfont.eot');
  src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont/iconfont.woff') format('woff'),
  url('iconfont/iconfont.ttf') format('truetype'),
  url('iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}