#test {
    position: absolute;
    top: 3000px;
}

body, button, input, select, textarea {
    font: 11px/1.5 tahoma, arial, Hiragino Sans GB, WenQuanYi Micro Hei, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
}
.m {
    margin: 0 auto;
}
/*.header {
    position: relative;
    z-index: 101;
    color: #333;
}

.top-nav {
    position: relative;
    z-index: 21;
    height: 28px;
    line-height: 26px;
    background-color: #f5f5f5;
    color: #777;
}

.head-inner {
    width: 1170px;
    margin: 0 auto;
    position: relative;

}

.sel-area {
    float: left;
    position: relative;
    z-index: 10;
}

.sel-area-div {
    height: 28px;
    width: 87px;
}

.sel-area-div-j {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    background-color: #fff;
}

.sel-area span {
    padding-left: 17px;
    line-height: 26px;
}

.sel-area-i {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-width: 4px;
    vertical-align: middle;
    border-color: #999 transparent transparent transparent;
    border-style: solid dashed dotted dashed;
    margin-top: 5px;
    margin-left: 15px;
}

.sel-area-d {
    width: 295px;
    height: 460px;
    position: absolute;
    left: 0;
    top: 28px;
    background-color: #FFFFFF;
    line-height: 26px;
    border: 1px solid #cdcdcd;
    display: none;
    !*border-top-style: none;*!
}

.sel-area-d-i {
    height: 3px;
    width: 87px;
    display: inline-block;
    background-color: #fff;
    position: relative;
    top: -17px;
    left: -1px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
}

.sab-title {
    width: 255px;
    margin: 0 0 14px 0;
    padding-left: 4px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dotted #666;
    font-weight: 700;
    text-align: left;
    color: #000;
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 18px;
}

.sab-table {
    width: 260px;
    height: 390px;
    border-collapse: collapse;
    border-spacing: 0;
    color: #343434;
    position: absolute;
    left: 25px;
    top: 37px;
}

.sab-table span {
    cursor: pointer;
    padding: 2px 5px;
    color: #676767;
    margin-right: 3px;
}

.sab-table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.sab-table td {
    text-align: left;
}

.top-nav-tool {
    float: right;
    width: 676px;

}

.top-nav-tool a {
    color: #666
}

.top-nav-tool li {
    display: inline-block;
    height: 28px;
    float: left;
    padding-right: 10px;

}

.top-nav-tool i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/weipin_index/header.png") -134px 0px no-repeat;
    position: relative;
    bottom: -8px;
}

.top-nav-tool li:nth-child(7) a i {
    background: url("../images/weipin_index/header.png") -100px -150px no-repeat;
}

.top-nav-tool li:nth-child(8) {
    position: relative;
    top: 3px;
}

.top-nav-tool span > i {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-width: 4px;
    vertical-align: middle;
    border-color: #999 transparent transparent transparent;
    border-style: solid dashed dotted dashed;
    margin-bottom: 12px;
    margin-left: 11px;
}

!*最上方nav部分*!
.head-logo {
    height: 100px;
    position: relative;
}

.header-inner {
    width: 1170px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.header-inner img {
    height: 100px;
}

.header-logo-dop {

}

.header-logo-dop a {
    position: relative;
    left: -26px;

}

.header-vip {
    position: absolute;
    right: 165px;
    top: 0;
}

.head-cart {
    position: relative;
    width: 134px;
    float: right;
    right: 45px;
    top: -75px;
}

.head-cart i {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url("../images/weipin_index/header.png") 5px -53px no-repeat;
}

.counti-cons-bg {
    display: inline-block;
    background: #f10180;
    height: 16px;
    width: 24px;
    border-radius: 8px;
    height: 16px;
    width: 24px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    position: relative;
    top: -13px;
    left: 40px;
}

!*红色导航条*!
.main-nav {
    height: 40px;
    line-height: 40px;
    background-color: #f10180;
    font-size: 14px;
    color: #fff;
}

.main-nav-js {
    position: fixed;
    width: 100%;
    z-index: 9999999;
    -webkit-transition: .3s linear;
    top: 0;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);

}*/

/*红色导航条*/

/*中间部分*/
.index-content {
    height: 10000px;
    background: url("../images/weipin_index/1.jpg") no-repeat center top;
    position: relative;
}

.focus-banner {
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 10px;
}

.focus-banner-con-wrq {
    width: 1146px;
    background: rgba(255, 255, 255, .86);
    position: relative;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(167, 167, 167, .4);
    padding: 12px;
}

.focus-banner-con {
    width: 1146px;
    height: 440px;
    border-bottom: none;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.focus-banner-con ul {
    height: 450px;
    overflow: hidden;
}

.focus-banner-con-wrq ul li {
    width: 1146px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.focus-banner-con-wrq ul li:first-child {
    background: url("../images/weipin_index/15012464584003.jpg") no-repeat;
    display: list-item;
    /*z-index: 1;*/
}

.focus-banner-con-wrq ul li:nth-child(2) {
    background: url("../images/weipin_index/15013276066602.jpg") no-repeat;
    /*z-index: 1;*/
}

.focus-banner-con-wrq ul li:nth-child(3) {
    background: url("../images/weipin_index/15014978870752.jpg") no-repeat;
    /*z-index: 1;*/
}

.focus-banner-con-wrq ul li:nth-child(4) {
    background: url("../images/weipin_index/15012308697773.jpg") no-repeat;
    /*z-index: 1;*/
}

.focus-banner-con-wrq span {
    background: rgba(0, 0, 0, .2);
    border-radius: 2px;
    position: absolute;
    width: 33px;
    height: 66px;
    line-height: 66px;
    font-size: 24px;
    cursor: pointer;
    top: 50%;
    margin-top: -53px;
    z-index: 2;
    text-align: center;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

.focus-banner-con .focus-banner-con-class1 {
    left: -33px;
}

.focus-banner-con .focus-banner-con-class1:hover {
    background: rgba(0, 0, 0, .5);
}

.focus-banner-con .focus-banner-con-class2 {
    right: -33px;
}

.focus-banner-con .focus-banner-con-class2:hover {
    background: rgba(0, 0, 0, .5);
}

.fbc-trigger {
    width: 1146px;
    margin-left: -573px;
    text-align: center;
    left: 50%;
    height: 40px;
    position: absolute;
    z-index: 2;
    bottom: 20px;
}

.fbc-trigger-con {
    width: 100%;
    height: 40px;
    text-align: center;
}

.fbc-trigger-con li {
    display: inline-block;
    width: 229px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 40px;
    font: 12px/40px 'microsoft Yahei';
    color: #666;
    cursor: pointer;
    border-bottom: transparent 3px solid;
    position: relative;
}

.fbc-trigger-line {
    background-color: #e6057d;
    position: absolute;
    bottom: -3px;
    height: 3px;
    left: 115px;
    width: 229px;
}

/*中间下一点点部分*/
.index-rank-wrap {
    background-color: #fff;
    padding: 8px 0 20px;
}

.index-rank-w {
    width: 1170px;
    height: 180px;
    margin: 0 auto;
}

.index-rank-inner {
    position: relative;
}

.index-rank-inner img {
    width: 100%;
    height: 100%;
    position: relative;
    border: 0 none;
    display: inline;
}

.index-rank-list {
    position: absolute;
    right: 10px;
    top: 18px;

}

.index-rank-item {
    width: 166px;
    height: 144px;
    margin-right: 20px;
    text-align: center;
    float: left;
    display: inline;
    position: relative;
    background-color: #ffffff;
}

.index-rank-item-icon {
    width: 48px;
    height: 48px;
    position: absolute;
    right: -15px;
    top: -13px;
    z-index: 2;
    cursor: pointer;
    background: url("../images/weipin_index/icon.png") no-repeat;
}

.index-rank-list a:nth-child(2) span {
    background: url("../images/weipin_index/icon.png") no-repeat 0px -45px;
}

.index-rank-list a:nth-child(3) span {
    background: url("../images/weipin_index/icon.png") no-repeat 0px -95px;
}

/*轮播图下方的下方*/
.index-new-wrap {
    background-color: #fff;
    padding-bottom: 20px;
}

.index-new-inner {
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

.index-new-inner a {
    display: block;
}

.index-new-title {
    height: 50px;
    margin-bottom: 20px;
}

.index-new-title img {
    max-width: 100%;
    vertical-align: top;
    border: 0 none;
}

.index-new-sec {
    margin-bottom: 10px;
}

.index-new-sec-list {
    width: 110%;
}

/*.index-new-sec-list a{*/
/*text-decoration: none;*/
/*}*/

.index-new-sec-item {
    float: left;
    width: 111px;
    margin-right: 40px;
    cursor: pointer;
}

.index-new-sec-item img {
    height: 111px;
    width: 100%;
    max-width: 100%;
}

.index-new-item-name {
    text-align: center;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
}

.index-new-third {
    position: relative;
    pointer-events: auto;
}

.index-new-third-con {
    float: left;
    width: 570px;
    height: 366px;
}

.index-new-third-con-0 {
    margin-right: 30px;
}

.index-new-third-list {
    position: absolute;
    bottom: 10px;
    left: 0;
}

.index-new-third-list a {
    font-size: 16px;
}

.index-new-third-item {
    width: 130px;
    height: 130px;
    text-align: center;
    margin-left: 10px;
    float: left;
    background-color: #fff;
    border-radius: 5px;
}

.index-new-third-item img {
    width: 68px;
    height: 68px;
    margin-top: 23px;
    max-width: 100%;
}

.index-new-third-list1 {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*中间核心展示部分*/

.today-new {
    width: 1170px;
    margin: 0 auto 70px;
}

.shop-title {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    height: 68px;
}

.coundown-img {
    position: absolute;
    left: 50%;
    margin-left: -585px;
    top: 0;
}

.brand-wrap {
    width: 1200px;
}

.today-new .hotSale-item {
    width: 570px;
    height: 350px;
    margin-right: 30px;
    margin-bottom: 30px;
    float: left;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #fff;

}

.hotSale-info {
    position: absolute;
    width: 320px;
    height: 100px;
    left: 50%;
    bottom: 25px;
    margin-left: -160px;
    border-radius: 4px;
    line-height: 1.2;
    background: rgba(255, 255, 255, .9);
}

.hotSale-logo-img {
    display: inline;
    width: 100px;
    height: 50px;
    margin: 6px 0 3px;
    vertical-align: top;
}

.hotSale-brand-img {
    display: inline;
    width: 570px;
    height: 350px;
}

.hotSale-name {
    font-size: 14px;
    color: #333;
    font-weight: 700;
    margin: 0 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*控制中间是否显示*/
.hotSale-hover {
    width: 520px;
    height: 300px;
    top: 25px;
    left: 25px;
    position: absolute;
    top: 20px;
    left: 20px;
    background: #fff center 100px;
    /*background-color: #fff;*/
    /*background-position: center 100px;*/
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
}

.hotSale-pro-list {
    padding-left: 34px;
    margin-top: 16px;
    height: 218px;
    border-bottom: 1px dotted #333;
}

.hotSale-pro-item {
    width: 140px;
    height: 217px;
    float: left;
    margin-right: 16px;
}

.hotSale-pro-img {
    width: 140px;
    height: 177px;
    margin-right: 16px;
}

.hotSale-pro-price {
    line-height: 30px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
}

.hotSale-logo-img-bian {
    display: inline;
    width: 100px;
    height: 50px;
    vertical-align: top;
    float: left;
    margin-left: 34px;
    margin-right: 20px;
}

.ui-btn-fav {
    display: block;
    float: left;
    margin-top: 20px;
    height: 22px;
    line-height: 22px;
    margin-right: 63px;
    cursor: pointer;
}

.ui-btn-fav-like {
    width: 71px;
    padding: 0 6px;
    background: #fff;
    border: 1px solid #ededed;
    line-height: 18px;
    border-radius: 12px;
    color: #666;
}

.fav-hidden {
    line-height: 20px;
    vertical-align: top;
}

/*女装品牌*/
.shop-sort {
    width: 1170px;
    margin: 0 auto 70px;
    position: relative;
}

.shop-sort-title {
    margin-bottom: 20px;
    min-height: 43px;
    border-bottom: 1px #1a1a1a solid;
    position: relative;
}

.shop-all-btn {
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: 14px;
    color: #333;
}

.vipFont {
    color: red;
    font-size: 14px;
    position: relative;
    top: 1px;
    font-family: iconfont;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
}

/*.vipFont {*/
/*font-family:"iconfont";*/
/*margin-top: 2px;*/
/*line-height: 1;*/
/*}*/

.brand-wrap {
    width: 1200px;
}

.brand-item {
    width: 568px;
    height: 312px;
    margin-right: 30px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    background: #fff;
}

.brand-img {
    width: 570px;
    height: 273px;
}

.pms-info {
    width: 445px;
    top: 243px;
    position: absolute;
    left: 0;
    background: rgba(0, 0, 0, .6);
    height: 30px;
    line-height: 30px;
    padding: 0 100px 0 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}

.brand-info {
    position: relative;
    padding: 0 120px 0 10px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
}

.brand-discount {
    color: #4d4d4d;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    display: inline-block;
}

.salebg2 {
    font-size: 24px;
    color: #f10582;
    margin-right: 3px;
    font-weight: 700;
}

.brand-name {
    cursor: pointer;
    font-size: 14px;
    color: #4d4d4d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 230px;
    display: inline-block;
}

.brand-time {
    width: 52px;
    height: 40px;
    position: absolute;
    right: 20px;
    bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 16px;
    line-height: 16px;
    color: #4d4d4d;
    white-space: nowrap;
}

.time-icon {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background: url("../images/woman_ad/index_imgs.png") no-repeat -50px 0;
}

.J_time_icon {
    display: inline-block;
    vertical-align: top;
}

.ui-btn-fav1 {
    top: 248px;
    display: block;
    position: absolute;
    height: 20px;
    line-height: 20px;
    right: 10px;
    opacity: 1;
    width: auto;
    min-width: 34px;
}

.ui-btn-fav-like {
    width: 71px;
    background: #fff;
    border: 1px solid #ededed;
    color: #333;
    border-radius: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0 8px;
    display: block;
}

.fav-hidden {
    display: inline-block;
}

.shop-sort-ft {
    border-top: 1px solid #e8e8e8;
}

.shop-more-btn {
    width: 324px;
    display: block;
    color: #fff;
    height: 44px;
    background-color: #f10180;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 16px;
    text-align: center;
    line-height: 44px;
    margin: -1px auto 20px;
}

.vipIndexFont {
    vertical-align: middle;
    font-size: 20px;
    font-family: iconfont;
    line-height: 20px;
    font-style: normal;
}

/*悬浮导航*/
.index-nav-sort {
    width: 78px;
    height: 456px;
    left: 50%;
    margin-left: -720px;
    background-color: #fff;
    z-index: 99999;

}

.is-lift-nav-fixed {
    position: fixed;
    top: 112px;
    display: none;
}

.index-nav-sort .index-nav-wrap {
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}

.index-nav-item {
    display: block;
}

.index-nav-sort .index-nav-item {
    display: block;
    padding: 8px 10px;
    height: 20px;
    border-bottom: 1px solid #eaeaea;
    color: #666;
}

.index-nav-list .curr {
    position: relative;
    z-index: 1;
    left: 4px;
    margin-top: -1px;
    padding: 8px 8px 10px;
    width: 52px;
    border-bottom: 0;
    color:#666;
    border-radius: 4px;
}

.index-nav-sort .nav-icon {
    margin-right: 6px;
    width: 20px;
    height: 20px;
    color: #949494;
    display: inline-block;
}

.nav-title {
    line-height: 20px;
    white-space: nowrap;
    display: inline-block;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.nav-icon {
    color: #fff;
    position: relative;
    top: 1px;
}

.index-nav-sort .nav-icon1 {
    margin-right: 3px;
    width: 20px;
    height: 20px;
    color: #949494;
    display: inline-block;
}

.daohangdingwei {
    width: 200px;
    height: 43px;
}

.daohangbgc {
    background-color: #f10180;
}


.shadow {
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 3;
    width: 170px;
    height: 96px;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.9) 100%);
    transition: transform 300ms linear;
}

.brand-text {
    position: absolute;
    z-index: 3;
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 10px;
    overflow: hidden;
    transition: transform 300ms linear;
}

.brand-name-Chinses {
    height: 20px;
    line-height: 1.2;
    font-weight: 700;
}













