* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a{
    text-decoration: none;
}
#top_box {
    width: 100%;
}

#u_box {
    height: 360px;
    margin:0 auto;
    position: relative;
    overflow: hidden;
    width: 1304px;
}

#u_top {
    position: absolute;
    width: 7304px;
    left: -1304px;
    top: 0;
}

#u_top li img {
    width: 1304px;
    height: 360px;
    float: left;
}

#circle {
    width: 70px;
    height: 20px;
    position: absolute;
    background-color: #666;
    border-radius: 16px;
    opacity: 0.5;
    bottom: 10px;
    left: 630px;
}

#circle li {
    background-color: black;
    width: 12px;
    height: 12px;
    margin-top: 4px;
    margin-left: 9px;
    float: left;
    border-radius: 16px;
    cursor: pointer;
}

#sanJiao span{
    line-height: 50px;
    background-color: #888;
    font-size: 35px;
    color: white;
    text-align: center;
    cursor: pointer;
    opacity: 0;
}

#top_l {
    position: absolute;
    left: 100px;
    top: 130px;
    width: 35px;
    height: 50px;
}

#top_r {
    position: absolute;
    left: 1166px;
    top: 130px;
    width: 35px;
    height: 50px;
}

/*=======================热门分类=======================*/
.hot_kind_top {
    margin: 40px auto 0 auto;
    width: 1100px;
    height: 106px;
    text-align: center;
}

p {
    display: inline-block;
    color: #d9d9d9;
    margin: 0 20px;
    height: 30px;
}

span {
    font-size: 30px;
    height: 40px;
}

.hot_kind_top p + span {
    color: #5c5c5c;
}

.hot_kind_top span + span {
    color: #333333;
    font-weight: 700;
}

.hot_kind_top h5 {
    height: 20px;
    font-size: 12px;
    font-weight: 400;
    color: #ccc;
}

.hot_kind {
    width: 1008px;
    height: 306px;
    margin: 0 auto;
    border: 1px solid #e8ebe4;
    overflow: hidden; /**/
}

.hot_kind_left{
    z-index: 10;
    width: 144px;
    height:306px;
}

#left1 {
    float: left;
    width: 144px;
    margin-right: 40px;
    z-index: 10;
}

#left1 li {
    height: 50px;
    width: 144px;
    background-color: #f4f4f4;
    font-size: 16px;
    line-height: 50px;
    color: #66667d;
    border-bottom: 1px solid white;
    cursor: pointer;
    position: relative;
    text-align: center;
    /*vertical-align: middle;*/
}



#left1 li span {
    font-size: 18px;
    color: #e9af46;
    margin-top: 20px;
    height: 18px;
    width: 18px;
    position: absolute;
    left: 100px;
    bottom: 32px;
    display: none;
    /*vertical-align: middle;*/
}

#pic_right{
    width:820px;
    height:1800px;
    position: relative;
    top:-314px;
    left:178px;
}

.right_top {
    float: right;
    width: 770px;
    margin-bottom: 48px;
    margin-top: 34px;
}

.right_bottom {
    width: 770px;
    float: right;
}

.right_top li {
    float: left;
    width: 80px;
    padding-right: 80px;
    text-align: center;
    margin: auto;
}

.right_top span{
    font-size: 14px;
    text-align: center;
    width: 600px;
    height:20px;
}

.right_bottom li span{
    font-size: 14px;
    text-align: center;
    width: 600px;
    height:20px;
    margin-left: 10px ;
}

.right_top li:last-child {
    padding-right: 0px;
}

.right_bottom li {
    float: left;
    width: 80px;
    padding-right: 80px;
}

.right_bottom li:last-child {
    padding-right: 0px;
}

.hot_pic{
    width:1002px;
    height:100px;
    margin:50px auto 0px auto;
}

#main {
    width: 1020px;
    height: 1730px;
    margin:0 auto;
}

#main div {
    width: 480px;
    height:290px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 5px;
    position: relative;
}

#main div img{
    width: 490px;
    height:235px;
}

.op{
    width: 490px;
    height: 30px;
    background-color: #444444;
    opacity: 0.6;
    position: absolute;
    bottom: 55px;
}
/*.op span{
    font-size: 14px;
    position: absolute;
    bottom: -16px;
    margin-left:55px;
    color: white;
}
.op i{
    position: absolute;
    bottom: 4px;
    margin-left:20px;
}*/

#main .q12{
    position: absolute;
    bottom: 34px;
    left:0px;
    font-size: 14px;
    color: white;
    margin-left: 35px;
    line-height: 12px;
}

#main .zhe{
    color: #f10582;
    font-size: 20px;
    display: inline-block;
    margin-left: 20px;
    font-weight: 800;
    /*vertical-align: middle;*/
}

#main .zi{
    display: inline-block;
    color: #666666;
    font-size: 14px;
    padding:0px;
    margin:0px;
   /*vertical-align: middle;*/
}

#main .sc{
    width: 80px;
    height:20px;
    background-color: white;
    border-radius:10px;
    font-size: 12px;
    position: absolute;
    bottom: 59px;
    right:-20px;
    line-height: 20px;
    display: none;
    cursor: pointer;
}

@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #f1b13b;
    position: absolute;
    bottom:58px;
    left: 10px;
}

.ifont{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #f105a2;
    margin-left: 176px;
    font-weight: 400;
}

.icofont{
    font-family:"iconfont" !important;
    font-size:20px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #f105a2;
    position: absolute;
    bottom: -1px;
    margin-left: 4px;
    font-weight: 400;
}

/*最后疯抢标题图*/
.content_top {
    width:1020px;
    height:80px;
    margin:42px auto 20px auto;
}
/*最后疯抢内容*/
.main_content {
    width: 1020px;
    height: 1160px;
    margin:0 auto;
}

.content_item {
    width: 320px;
    height: 210px;
    display: inline-block;
    padding-right: 16px;
    margin-bottom: 26px;
    position: relative;
}

.content_item img {
    width: 320px;
    height: 153px;
}

.content_item>.gray_bottom{
    width: 320px;
    height: 30px;
    background-color:#444444 ;
    opacity: 0.6;
    position: absolute;
    bottom: 56px;
}

.content_item span {
    color: white;
    position: absolute;
    bottom: 50px;
    left:40px;
    font-size: 14px;
    line-height: 38px;
}

.iconfont1 {
    position: absolute;
    bottom: 59px;
    left:14px;
}

.ifont1 {
    position: absolute;
    bottom: -1px;
    right:57px;
    font-weight: 400;
}

.icofont1{
    color: #f105a2;
    position: absolute;
    bottom: 2px;
    margin-left: 147px;
}

.circle .sc{
    width: 80px;
    height:20px;
    background-color: white;
    border-radius:10px;
    font-size: 12px;
    position: absolute;
    bottom: 61px;
    right:28px;
    line-height: 20px;
    display: none;
    cursor: pointer;
 /*   display: none;*/
}

.content_item .zhe{
    color: #f10582;
    font-size: 18px;
    display: inline-block;
    margin-left: 16px;
    height:26px;
    /*vertical-align: middle;*/
}

.content_item .wen_zi{
    display: block;
    color: #666666;
    font-size: 14px;
    padding:0px;
    margin-left: 15px;
    margin-top: 7px;
    height:20px;
    /*vertical-align: middle;*/
}

.content_item .zi {
    display: inline-block;
    color: #666666;
    font-size: 14px;
    padding:0px;
    margin:0px;
    height: 26px;
}
/*即将上线*/
.shadow {
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 3;
    width: 170px;
    height: 96px;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.9) 100%);
    transition: transform 300ms linear;
}

.brand-text {
    position: absolute;
    z-index: 3;
    color: #fff;
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 20px;
    left: 0;
    bottom: 10px;
    overflow: hidden;
    transition: transform 300ms linear;
}

.brand-name-Chinses {
    height: 20px;
    line-height: 1.2;
    font-weight: 700;
}
