<div class="container">
	<h3 class="page-header">页面标题</h3>
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<div class="img-box">
					<img src="">
				</div>
				<div class="caption">

					<h4></h4>
					<p>
						导演：
					</p>
					<p>
						主演：
					</p>
					<p>年份：</p>
					<p>评分：</p>
				</div>
			</div>
		</div>
	</div>
	<nav>
		<ul class="pager">
			<li><a href="javascript:;">上一页</a></li>
			<li><a href="javascript:;">下一页</a></li>
		</ul>
	</nav>
</div>